.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1.8rem;
  color: #4e4e4e;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.link {
  display: inline-block;
  background-color: #41dc7a;
  color: white;
  padding: 0.8rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #08b648;
}

/* 印刷ボタン */
.container {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0;
  margin-bottom: 0;
  background: white;
  z-index: 10;
}

.captureButton {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #c6c4c4;
}

.captureButton:hover {
  background-color: #a7a6a6;
}
